.item {
    color: #f75411;
    margin-top: 10px;
}

.item img {
    width: 50px;
    border-radius: 20px;
}

.button {
    background-color: #f75411;
    width: 70px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #f75411;
    color: white;
}

.button:hover {
    background-color: #363c42;
    transition: 0.5s;
    border-color: #363c42;

}

.postContent {
    margin-right: 10px;
    margin-left: 10px;
}


