.content {
    display: grid;
    background-color: #CECECE;

    grid-template-areas:
    /*'wallpaper wallpaper'*/
    'status status'
    'avatar description'
    /*'newPosts newPosts'*/
    'posts posts';

    grid-template-columns: 1fr 10fr;
    /*grid-template-rows: 200px 300px 300px auto;*/
    grid-gap: 20px;

}