.superInput {
    border: 1px solid rgba(82, 82, 82, 0.8);
    border-radius: 2px;
    background: white;
    margin: 2px 0;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}
.qqq {
    background-color: yellow;
}