.header {
    grid-area: h;
    background-color: #363c42;

}

.header img {
    padding-left: 30px;
    padding-top: 20px;
    width: 10%;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}

.userLogin {
    color: white;
}