
.item {
    padding-left: 20px;
    color: black;
    padding-top: 5px;
    text-decoration: none;
}

.active{
    padding-left: 20px;
    /*color: #3784B8;*/
    color: #f75411;
    text-decoration: none;
}