.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding-top: 15px;
    padding-left: 20px;
}

.dialogsItems {
    padding-bottom: 20px;
}

.messagesItems {
    padding-left: 20px;
    padding-bottom: 10px;
}
